* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../Pictures/pexels-minan1398-694740.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.406);
  color: #ffffff;
  border-radius: 15px;
  padding: 30px 40px;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.395);
  border-radius: 40px;
  font-size: 16px;
  color: #efefef;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #ffffff;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.btn:hover {
  background: #f1f1f1;
}


.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert p {
  margin: 5px 0;
  font-size: 14px;
}