*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#f7f7f7;
}

/* NAVBAR */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}



.header{
  background: #0b3c5d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo{
  font-size: 26px;
  font-weight: bold;
}

.logo span{
  color: #1abc9c;
}

.navbar{
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.navbar a:hover{
  color: #1abc9c;
}

.btn{
  padding: 6px 14px;
  border-radius: 5px;
}

.logout{
  border: 1px solid #1abc9c;
  background: #1abc9c;
  
}

.logout:hover{
  background: #ffffff;
  color: #1abc9c;
}

.menu-toggle{
  display: none;
  font-size: 26px;
  cursor: pointer;
}





/* FOOTER */
.footer{
  background: #0b3c5d;
  color: #fff;
  padding: 50px 0 20px;
  font-family: "Segoe UI", sans-serif;
}

.footer .container{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-column h3{
  margin-bottom: 15px;
  color: #1abc9c;
  font-size: 18px;
}

.footer-logo{
  font-size: 28px;
  font-weight: bold;
  color: #1abc9c;
  text-decoration: none;
}

.footer-description{
  margin-top: 10px;
  color: #dce3ea;
  line-height: 1.6;
}

.footer-column ul{
  list-style: none;
}

.footer-column ul li{
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-column ul li a{
  color: #dce3ea;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover{
  color: #1abc9c;
  padding-left: 5px;
}

.footer-bottom{
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  color: #dce3ea;
}

/* Responsive */
@media (max-width: 900px){
  .footer-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px){
  .footer-grid{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-column ul li a:hover{
    padding-left: 0;
  }
}
